<h1 class="mb-4">Blog Articles</h1>
<a href="/articles/new" class="btn btn-success">New Article</a>

<!-- EJS loop with a foreach to iterate through the articles array -->
<% articles.forEach(article => { %>
  <div class="card mt-4">
    <div class="card-body">
      <a class="text-display" href="articles/<%= article.slug %>">
        <h4 class="card-title"><%= article.title %></h4>
      </a>
      <div class="card-subtitle text-muted mb-2">
        <!-- Display the 'createdAt' date object in an adapted way for the user based on where he is around the world -->
        <%= article.createdAt.toLocaleDateString() %>
      </div>
      <div class="card-text mb-2"><%= article.description %></div>
      <a href="articles/<%= article.slug %>" class="btn btn-primary">Read More</a>
      <a href="articles/edit/<%= article.id %>" class="btn btn-info">Edit</a>
      <!-- '?_medtod' is added here to be ineterpreted by the method-override middleware as DELETE method is not available for forms -->
      <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
<% }) %>
